<section class="container-fluid p-5">
    <div class="row h-100 justify-content-around">
        <div class="col-10 bg-whitesmoke p-0 border rounded">
            <div class="d-flex  bg-whitesmoke-titles">
                <div class="col-3 p-3 text-center fw-light bg-laptopcard-select">
                    Todos
                </div>
                <div class="col-3 p-3 text-center fw-light">
                    Vinculados
                </div>
                <div class="col-3 p-3 text-center fw-light">
                    Não Vinculados
                </div>
                <%= link_to "Cadastrar", new_beneficiary_path, class: "fw-light text-dark text-decoration-none col-3 p-3 text-center" %>
            </div>
            <div class="container">
                <div class="row p-2 d-flex justify-content-evenly">
                    <% @beneficiaries.each do |beneficiary| %>
                        <div class="card p-2 col-3 bg-whitesmoke-titles border-0 mb-2 beneficiary-card" onclick="redirect(<%= beneficiary.id %>)" style="width: 10rem;">
                            <%= image_tag("person.png") %>                            
                            <div class="card-body">
                                <h5 class="card-title"><%= beneficiary.name.split(" ").first%></h5>
                                <p class="card-text fs-6">Vinculado à: <%=linked?(beneficiary)%></p>
                            </div>
                        </div>
                    <% end %>
                </div>

            </div>
        </div>
        
    </div>
</section>


<script>

    function redirect(id) {
        var a = document.createElement("a")
        a.href = "beneficiaries/"+id
        a.click()
    }

    function print(object) {
        console.log(object);
    }

</script>