<section class="container-fluid p-5">
    <div class="row h-100 justify-content-around">
        <div class="col-5 bg-whitesmoke p-0 border rounded">

            <p class="text-center display-6 bg-whitesmoke-titles">Notebooks</p>
            
            <div class=" mx-auto input-group mb-2 w-75 ">
                <input type="text" class="form-control bg-whitesmoke border">
                <span class="input-group-text bg-whitesmoke"><i class="bi bi-search"></i></span>
            </div>


            <div class="container">
                <div class="row p-2 d-flex justify-content-evenly">
                    <% @laptops.each do |laptop| %>
                        <a href="<%= laptop_path(laptop) %>" class="text-decoration-none card p-2 col-3 bg-whitesmoke-titles border-0 mb-2 laptop-card" style="width: 10rem;">
                            <%= image_tag laptop.model == "A515-54-5526" ? "silver.png" : "black.png" %>                            
                            <div class="card-body">
                                <h5 class="card-title"><%= laptop.listed_number[2] == "-" ? laptop.listed_number :  laptop.listed_number.insert(2, "-") %></h5>
                                <p class="card-text fs-6">Vinculado à: Ninguem</p>
                            </div>
                        </a>
                    <% end %>
                </div>

            </div>
        </div>


        <div class="col-5 bg-whitesmoke p-0 border rounded">

            <p class="text-center display-6 bg-whitesmoke-titles">Beneficiários</p>
            
            <div class=" mx-auto input-group mb-2 w-75 ">
                <input type="text" class="form-control bg-whitesmoke border">
                <span class="input-group-text bg-whitesmoke"><i class="bi bi-search"></i></span>
            </div>


            <div class="container">
                <div class="row p-2 d-flex justify-content-evenly">
                    <% @beneficiaries.each do |beneficiary| %>
                        <a href="<%= beneficiary_path(beneficiary) %>" class=" text-decoration-none card p-2 col-3 bg-whitesmoke-titles border-0 mb-2" style="width: 10rem;">
                            <%= image_tag "person.png" %>
                            <div class="card-body">
                                <% names = beneficiary.name.split(" ") %>
                                <% first_name = names.first %>
                                <% last_name_initial = names.last.slice(0, 1) if names.length > 1 %>          
                                <h5 class="card-title"><%= "#{first_name} #{last_name_initial}." %></h5>
                                <p class="card-text fs-6">Vinculado à: 01-00212</p>
                            </div>
                        </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
